@media only screen and (max-width: 630px) {
    #cube{
        width: 80px;
        height: 80px;
    }
    .dot {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (min-width: 1600px) {
    .container{
        width: 1000px;
        margin: 0 auto;
    }
}