*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.allPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(red, black);
}
.field{
    width: 80%;
    height: 80%;
    background-color: #fff;
}