/* -------------- MAIN SETTING -------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------- PAGE SETTING -------------- */
.allPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(red, black);
}
/* -------------- FIELD SETTING -------------- */
.field{
    width: 80%;
    height: 80%;
    background-color: #ffd5a5;
}
.playField{
    display: flex;
    justify-content: space-around;
}
/* -------------- PLAYERS SETTING -------------- */
.player-information-0, .player-information-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-box-0,
.score-box-1,
.current-score-box-0,
.current-score-box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
}
.score-box-0.active,
.score-box-1.active{
    background-color: #ff7c2c;
    padding: 5px;
    border-radius: 5px;
}
.current-score-box-0,
.current-score-box-1{
    background-color: #ffa267;
    display: inline-block;
    text-align: center;
    padding: 10px 3px 25px 3px;
    border-radius: 3px;
}

.score-player-0, .score-player-1{
    font-size: 35px;
    font-weight: bold;
}
.current-score-player-0, .current-score-player-1{
    margin-top: 20px;
    font-size: 30px;
}

/* -------------- MENU SETTING -------------- */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;
    gap: 10px;
}
.menu li{
    width: 150px;
    background-color: #fc8f62;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.menu li:hover{
    background-color: #ff5d1a;
}
.disabled{
    pointer-events: none;
    opacity: 45%;
}
